<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="header_text">Yeeyy ! Finally</h1>
      </div>
      <div class="gif_container">
        <img
          src="{{ url_for('static', filename='tenor.gif') }}" 
          alt="Tenor GIF"
        />
      </div>
      <button class="btn" id="yesButton" onclick="nextPage()">
        Let's Fix a Date
      </button>
    </div>
  </body>
</html>
